baseURL = "http://www.example.com"
title = "Alex Elshamouty's Blog"
theme = "hugo-coder"
languageCode = "en"
defaultContentLanguage = "en"
paginate = 20
enableEmoji = true
googleAnalytics = "G-E1TSQ2BJMX"

[markup.highlight]
style = "github-dark"

[params]
author = "Alex Elshamouty"
description = "I’m always asking questions: Why do we build things this way? What if there’s a better approach? How do complex systems really work beneath the surface? This blog is where I explore those questions—diving into platform engineering, cloud strategies, software architecture, and technology transformations. I don’t just describe solutions; I challenge assumptions and dig into the details, aiming to spark thought and uncover better ways of doing things. If you’re curious and like questioning the status quo, you’ll feel right at home here."
keywords = "blog,architecture,cloud,personal"
info = "I build solutions that work. I help organizations see the bigger picture and the interactions within, ensuring their transformations are successful"
avatarURL = "images/avatar.jpg"
dateFormat = "January 2, 2006"
since = 2023
# Git Commit in Footer, uncomment the line below to enable it
commit = "https://github.com/luizdepra/hugo-coder/tree/"
# Right To Left, shift content direction for languagues such as Arabic
rtl = false
# Specify light/dark colorscheme
# Supported values:
# "auto" (use preference set by browser)
# "dark" (dark background, light foreground)
# "light" (light background, dark foreground) (default)
colorScheme = "light"
# Hide the toggle button, along with the associated vertical divider
hideColorSchemeToggle = false
# Series see also post count
maxSeeAlsoItems = 5
# Custom CSS
customCSS = []
# Custom SCSS, file path is relative to Hugo's asset folder (default: {your project root}/assets)
customSCSS = []

# Custom JS
customJS = []

# Custom remote JS files
customRemoteJS = []

[[languages.en.menu.main]]
name = "Blog"
weight = 2
url = "posts/"


[[languages.en.menu.main]]
name = "Open Source"
weight = 3
url = "oss/"

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'